<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Pencarian Hotel</h2>

  <form #form="ngForm" (ngSubmit)="logForm(form)" novalidate>
    <ion-item>
      <ion-label>Check In Date</ion-label>
      <ion-datetime pickerFormat="YYYY-MM-DD" displayFormat="DDDD, DD MMMM YYYY" min="{{date}}"[(ngModel)]="todo.checkin" name="checkin">"{{date}}"</ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Check Out Date</ion-label>
      <ion-datetime pickerFormat="YYYY-MM-DD" displayFormat="DDDD, DD MMMM YYYY" min="{{date}}"[(ngModel)]="todo.checkout" name="checkout"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Country</ion-label>
      <ion-select [(ngModel)]="todo.country" name="country">
        <!--<ion-option *ngFor="let item of optionsList" value="{{item.value}}" checked="{{item.checked}}">{{item.text}}</ion-option>
      -->
        <ion-option value="MA05110001">Thailand</ion-option>
        <ion-option value="MA05110069" selected>Singapore</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>City</ion-label>
    <ion-select [(ngModel)]="todo.destination" name="destination">
      <!--<ion-option *ngFor="let item of optionsList" value="{{item.value}}" checked="{{item.checked}}">{{item.text}}</ion-option>
    -->
      <ion-option value="MA05110041">Bangkok</ion-option>
      <ion-option value="MA05110067">Phuket</ion-option>
      <ion-option value="MA05110906" selected>Singapore</ion-option>
    </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Guests</ion-label>
      <ion-select [(ngModel)]="todo.guest" name="guest">
        <!--<ion-option *ngFor="let item of optionsList" value="{{item.value}}" checked="{{item.checked}}">{{item.text}}</ion-option>
      -->
        <ion-option selected>1</ion-option>
        <ion-option>2</ion-option>
        <ion-option>3</ion-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label>Rooms</ion-label>
      <ion-select [(ngModel)]="todo.room" name="room">
        <!--<ion-option *ngFor="let item of optionsList" value="{{item.value}}" checked="{{item.checked}}">{{item.text}}</ion-option>
      -->
        <ion-option selected>1</ion-option>
        <ion-option>2</ion-option>
        <ion-option>3</ion-option>
      </ion-select>
    </ion-item>

    <!--
    <ion-item>
      <ion-input type="text" [(ngModel)]="todo.title" name="title"></ion-input>
    </ion-item>-->
    <button ion-button type="submit" block>Cari</button>
  </form>

</ion-content>
