<ion-header>
  <ion-navbar  color="primary">
    <ion-title >
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Pencarian Hotel</h2>

  <form #form="ngForm" (ngSubmit)="logForm(form)" novalidate>
    <ion-item>
      <ion-label>Check In Date</ion-label>
      <ion-datetime (ionChange)="logCheckin(todo.checkin)" pickerFormat="YYYY-MM-DD," displayFormat="DDDD, DD MMMM YYYY" min="{{minin}}"[(ngModel)]="todo.checkin" name="checkin">"{{date}}"</ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Check Out Date</ion-label>
      <ion-datetime  (ionChange)="logCheckout(todo.checkin)" pickerFormat="YYYY-MM-DD," displayFormat="DDDD, DD MMMM YYYY" min="{{minout}}"[(ngModel)]="todo.checkout" name="checkout"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Country</ion-label>
      <ion-select [(ngModel)]="todo.country"  name="country"  (ionChange)="filterArray(todo.country)" okText="Select">
        <!--<ion-option *ngFor="let item of optionsList" value="{{item.value}}" checked="{{item.checked}}">{{item.text}}</ion-option>
      -->
        <ion-option *ngFor="let country of countryArray" value="{{country.code}}">
          {{country.name}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>City</ion-label>
    <ion-select [(ngModel)]="todo.destination" name="destination" disabled={{isDisable}} okText="Select">
      <!--<ion-option *ngFor="let item of optionsList" value="{{item.value}}" checked="{{item.checked}}">{{item.text}}</ion-option>
    -->
      <ion-option *ngFor="let city of filteredCity" value="{{city.code}}">
        {{city.name}}
      </ion-option>
    </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Guests</ion-label>
      <ion-select [(ngModel)]="todo.guest" name="guest" okText="Select" >
        <!--<ion-option *ngFor="let item of optionsList" value="{{item.value}}" checked="{{item.checked}}">{{item.text}}</ion-option>
      -->
        <ion-option *ngFor="let guest of guestColumn" value="{{guest}}">
          {{guest}} guest(s)
        </ion-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label>Rooms</ion-label>
      <ion-select [(ngModel)]="todo.room" name="room" okText="Select">
        <!--<ion-option *ngFor="let item of optionsList" value="{{item.value}}" checked="{{item.checked}}">{{item.text}}</ion-option>
      -->
        <ion-option *ngFor="let room of roomColumn" value="{{room}}">
          {{room}} room(s)
        </ion-option>
      </ion-select>
    </ion-item>

    <!--
    <ion-item>
      <ion-input type="text" [(ngModel)]="todo.title" name="title"></ion-input>
    </ion-item>-->
    <button ion-button type="submit" block>Cari</button>
  </form>

</ion-content>
